@charset "UTF-8";

body {
    background-color: rgb(218, 239, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1#principal {
    background-color: white;
    display: inline;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: serif, sans-serif, verdana;
}

.secundario {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.473);
}

.basico {
    color: rgba(57, 133, 57, 0.493);
}

.intermediario {
    color: rgba(179, 179, 73, 0.575);
}

.avancado {
    color: rgba(179, 64, 64, 0.753);

}

.marcar {
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

h1 {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.473);
}
