@charset "UTF-8";

/*Estilo para Impressora*/

body {
    padding: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 40px;
    line-height: 1.5em;
    font-size: 1em;
}

li {
    display: none;
}

article::after {
    content: 'BlaBlaBlaBlaBlaBlaBlaBlaa';
}
 article {
    width: 100%;
 }