@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(131, 151, 172, 0.61);
    height: 100vh;
}

.titulo {
    text-align: center;
}

header {
    background-color: slategrey;
    margin: auto;
    padding-bottom: 10px;
}

h1 {
    padding-top: 20px;
    color: white;
}

i#burg {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 7px;
}

i#burg:hover {
    background-color: white;
    color: black;
    
}

menu {
    display: none;
    padding-top: 20px;
}

menu li {
    background-color: rgba(81, 93, 104, 0.884);
    
    padding: 5px;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 2px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

main {
    background-color:rgba(255, 255, 255, 0.521);
    width: 90vw;
    padding: 10px;
    padding-top: 40px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

article p {
    margin-top: 30px;
    line-height: 1.5em;
    text-indent: 40px;
}