@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burg { display: none; }

    menu {
        display: block;
    }

    menu li {

        display: inline;
    }

    main {
        width: 768px;
    }
    
}

@media print {
    header {
        display: none;
    }
}