@charset "UTF-8";


/*Impressora*/
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 500px;
        border: black solid 2px;
    }

    img#cell { display: none;}

    img#tablet { display: none;}

    img#print { display: block;}

    img#pc { display: none;}

    img#tv { display: none;}
    
    body {
        background-image: url(../imagens/back-print.jpg);
    }

}


/*tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    
    img#cell { display: none;}

    img#tablet { display: block;}

    img#print { display: none;}

    img#pc { display: none;}

    img#tv { display: none;}


    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
}

/*notbook-pc*/
@media screen and (min-width: 992px) and (max-width: 1100px) {

    img#cell { display: none;}

    img#tablet { display: none;}

    img#print { display: none;}

    img#pc { display: block;}

    img#tv { display: none;}

    body {
        background-image: url(../imagens/back-pc.jpg);
    }
}