@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-image: url("../imagens/back-phone.jpg");
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.733);
    width: 450px;
    padding: 10px;

    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.185);
    display: block;
    margin: auto;
    margin-top: 40px;
    border-radius: 7px;
}

main h1 {
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.568);
}

img {
    display: block;
    margin: auto;
}

img#print { display: none; }

img#cell { display: none; }

img#tablet { display: none; }

img#pc { display: none; }

img#tv { display: none; }
    
@media print {
    * {
        font-family: Georgia, 'Times New Roman', Times, serif;
        box-sizing: border-box;
    }

    main {
        border: black solid 1px;
        box-shadow: none;
    }

    main::after {
        content: 'Pegam nobruzerapelão';
    }

    main h1 {
        text-shadow: none;
        color: black;
    }


    img#print { display: block; }

    img#cell { display: none; }

    img#tablet { display: none; }

    img#pc { display: none; }

    img#tv { display: none; }
    
}

