@charset "UTF-8";

body {
    background-image: url("../imagens/back-phone.jpg");
}


img#print { display: none; }

img#cell { display: block; }

img#tablet { display: none; }

img#pc { display: none; }

img#tv { display: none; }
