@charset "UTF-8";

/*CSS para telas em modo paisagem(landscape)*/

body {
    background: url(../imagens/cev-landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}
