@charset "UTF-8";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

header {
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-flow: row wrap;
}
h1 {
    color: white;
    border: 1px solid black;
    align-items: flex-start;
}

nav {
    border: 1px solid black;
    align-items: flex-end;
    align-content: flex-end;
}

main {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}






