@charset "UTF8";

* {
    font-family: sans-serif;
    max-height: 100%;
}

body{
    background-image: linear-gradient(to left, #F2C84B, #F2D785);
}

main {
    border-radius: 5%;
    background-color: white;
    box-shadow:  #88794bc2 5px 5px 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
}



h1 {
    text-shadow: 1px 1px 1px #773611d7;
    text-align: center;
    color: #BF571B;
}

h2 {
    text-shadow: 0.5px 0.5px 0.5px #8f5d20c0;
    color: #D98D30
    ;
}

p {
    text-align:justify
}