@charset "UT-8";

@font-face {
    font-family: "passion";
    src: url(fonte/Passion_One/PassionOne-Bold.ttf);
}

body {
    size: 200px;
    margin: 0;
    font-family: "passion", Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 40px;
}

p {
    width: 150px;
    height: 200px;
    margin-left: 20px;
}
p.fundo {
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    padding: 20px;
}

a.link {
    text-decoration: none;
    color: white;
}
a.link:hover {
    text-decoration: underline;
}

section {
    padding: 97px 0px 97px 30px;
    line-height: 2em;
}
section.girasol {
    background: slategray url(imagens/background001.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 400px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.521);
}
section.biblia {
    background: slategray url(imagens/background002.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 400px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.521);
}
section.normal {
    background-color: white;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10%;
    text-align: center;
}