@charset "UT-8";

@font-face {
    font-family: "passion";
    src: url(fonte/Passion_One/PassionOne-Bold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkslategrey;
}

body {
    size: 200px;
    margin: 0px;
    padding: 0px;
    font-family: "passion", Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-variant: small-caps;
}
h1 {
    padding-top: 50px;
}
header > p {
    padding-bottom: 50px;
}
p {
    padding-left: 15px;
}
p.fundo {
    background-color: rgba(17, 17, 17, 0.37);
    color: white;
    width: 400px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

section {
    padding: 97px 0px 97px 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
section.imagem {
    background-color: rgb(71, 71, 71);
    min-height: 400px;
    max-height: 1000px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.521);
}
section.normal {
    background-color: white;
}

#girassol {
    background:url(imagens/background001.jpg) center center no-repeat fixed ;
    background-size: cover;
}
#biblia {
    background: url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}